<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ALL THE USERS</h1>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Full Name</th>
            </tr>
        </thead>
        <tbody>
            {% for users in all_users %}
                <tr>
                    <td>{{users['first_name']}}</td>
                    <td>{{users['last_name']}}</td>
                    <td>{{users['first_name'] + ' ' + users['last_name']}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>